<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <!-- <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/> -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/nav.css') }}"/>
    {% block extra_stylesheets %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <a class="skip-nav" href="#projects"> skip navigation</a>

      <nav id="navbar" class="nav">
        <ul class="nav-list">
          <li class="nav-item nav-logo">
            <a href="{{ url_for('index') }}">
              rwdp</a>
          </li>
          {% block nav_extra_buttons %}
          <li class="nav-item nav-home">
            <a href="#welcome-section">
              Home</a>
          </li>
          <li class="nav-item nav-projects">
            <a href="#projects">
              Projects</a>
          </li>
          {% endblock %}
          <li class="nav-item nav-about">
            <a href="{{ url_for('about') }}"
            {% block ABOUT %}{% endblock %}> <!-- Nav bar highlight -->
              About</a>
          </li>
          <li class="nav-item nav-github">
            <a id="profile-link"
              href="https://github.com/mivalov/rwdp"
              target="_blank">
              Github</a>
          </li>
        </ul>
      </nav>
      {% block header %}{% endblock %}
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      {% block footer %}{% endblock %}
      <a href="https://github.com/mivalov/rwdp"
        target="_blank"
        class="fa">
        &#xf09b;</a>
      <p class="footer-year">2022</p>
    </footer>

    {% block body %}{% endblock %}
  </body>

<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
</html>
