<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewpoint"
          content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

<header>
  <nav id="navbar" class="nav">
    <label class="logo">
      <a href="{{ url_for('index') }}">rwdp</a>
    </label>

    <ul class="nav-list">
      {% block navListSubBut %}
      <li class="nav-home">
        <a href="#welcome-section">
          Home</a>
      </li>
      <li class="nav-projects">
        <a href="#projects">
          Projects</a>
      </li>
      {% endblock %}
      <li class="nav-about">
        <a href="{{ url_for('about') }}" {% block ABOUT %}{% endblock %}>
          About</a>
      </li>
      <li class="nav-github">
        <a href="https://github.com/mivalov/rwdp" target="_blank">
          Github &#x2750;</a>
      </li>
    </ul>
  </nav>
  {% block header %}{% endblock %}
</header>

<body>
  {% block body %}
  <section id="welcome-section" class="welcome-section">
    <h1 class="main-body-h1">Welcome</h1>
    <p>PEASANT</p>
  </section>

  <section id="projects" class="projects-section">
    <h2 class="projects-section-header">
      HERE ARE SOME OF MY PROJECTS
    </h2>

    <div class="project-grid">

      <a class="project-tile"
         href="{{ url_for('surveyForm') }}"
         target="_self">
        <img class="project-image"/>
        <p class="project-title">Survey Form</p>
      </a>

      <a class="project-tile"
         href="{{ url_for('tributePage') }}"
         target="_parent">
        <img class="project-image"/>
        <p class="project-title">Tribute Page</p>
      </a>

      <a class="project-tile"
         href="{{ url_for('productLandingPage') }}"
         target="_self">
        <img class="project-image"/>
        <p class="project-title">Product Landing Page</p>
      </a>

      <a class="project-tile"
         href="{{ url_for('technicalDocumentationPage') }}"
         target="_self">
        <img class="project-image"/>
        <p class="project-title">Technical Documentation Page</p>
      </a>

    </div>
  </section>
  {% endblock %}
</body>

<footer class="footer">
  {% block footer %}{% endblock %}
</footer>

<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
</html>
