<!-- TODO [BETTER VIEWING EXPERIENCE] ==================================
* USE VSCODE WITH THE "BETTER COMMENTS" EXTENSION
TODO -->

<!-- ? [HOW TO MAKE A NEW PAGE] ==================================== [?]
* The whole page structure is made with the help of Jinja!
? -->

<!-- ? [JINJA DOCUMENTATION] --------------------------------------- [?]
* https://jinja.palletsprojects.com/en/3.1.x/templates/
? -->





<!-- ! [VERY IMPORTANT] (JINJA BLOCKS) ============================= [3][!!!!!][MUST READ]

* WRITE THE JINJA BLOCKS AS THEY ARE IN THIS EXAMPLE!

! ALWAYS INDENT THE CONTENT IN THE JINJA BLOCKS WITH 2 SPACES AS IN THE
! EXAMPLES AND LINE WRAP SPECIFIC CONTENT SUCH AS THE CONTENT IN
! "PAGE DESCRITOIN" AND "EXTRA STYLESHEET" BLOCKS AS IN THE EXAMPLES!

! ALWAYS INCLUDE THE "-" IN EVERY BLOCK AS SHOWN IN THE EXAMLPLES
The minuses ("-") are there INTENTIONALLY!
They are there for white space control!

? (More on white space in the Jinja documentation for those interested.)

! -->





<!-- [STEP 1] (RENDER THE PAGE) ==================================== [1]

In "main.py" define the url you want for the page and the location of
the page HTML file.

@app.route('/example-page-url')
def example_page():
    return render_template('example-page.html')

-->





<!-- [STEP 2] (EXTEND FROM TEMPLATE) =============================== [2]

Pages are build based on a template page ("base-main.html").

This is so we don't write the same html over again for every page.
Instead we "extend" the html from the template page.

-->

{# Extending existing html files is done with this command ---------- #}
{% extends "pages/base/base-main.html" %}










<!-- [STEP 3] ====================================================== [3]
* SETTING UP THE CONTENT OF YOUR NEW PAGE
-->










<!-- * [IMPORTANT] (SKIP NAV BUTTON LINK) ========================== [3][!]

If you decide to KEEP the navigation bar you musn't forget to:
 - set up your nav buttons
 ? (More info at [STEP 4])
 - set a href link for your hidden "skip navigation" button

* -->

{# Sets the href link for the "skip navigation" button -------------- #}
{% set skip_nav_href = '#example' %}





<!-- [STEP 3.1] (DISABLE DEFAULT NAVIGATION) ======================= [3]

The template page comes with a navigation bar at the top and a hidden
"skip navigation" button with it.

If you DON'T want it in your new page, you can easy disable!
If you WANT it in your new page, simple don't include the command!

-->

{# Disables the default navigation bar ------------------------------ #}
{% set nav_disabled = true %}





<!-- * [IMPORTANT] (PAGE STYLESHEET) =============================== [3][!]

It is intended that every page that "extends" the template page has its
own seperate CSS file, so we keep things organized.

* The template page is build in a way that the stylesheet link for the
* new page is called LAST after all other stylesheet links!

This is so if you want to overwrite the default styling for your new
page, you can easily do it!

* -->

{# Sets the link for the stylesheet for your new page --------------- #}
{% block stylesheets_extra %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/example.css') }}"/>
{%- endblock %}





<!-- * [OPTIONAL] (PAGE DESCRIPTION) =============================== [3][=====][OPTIONAL]

This block is OPTIONAL, but there if you need it! And as you may have
guessed you can set a description for your page with it.

* -->

{# Sets the description for your page if needed --------------------- #}
{% block page_description %}
  <meta name="description"
        content="Your page decription goes here!">
{%- endblock %}





<!-- [COMMENT] ===================================================== [3][=====][COMMENT]
* Now all that is left is to build your new page!
-->

<!-- TODO [NOTES] ================================================== [3][=====][NOTES]

[TIPS]:

* [1]: -------------------------------------------------------------- 1|
  If you are uncertain were a specific block "inserts" their content
just by reading thE exampleS, open up "base-main.html" and look for
that block with the same name and see where it is placed!

* [2]: -------------------------------------------------------------- 2|
  For those unfamiliar with Jinja, jinja blocks allow you to name the
"closing block", but of course the name can ONLY be the same as the
"opening block"!

  This is shown in blocks like "main", as it is expected that they will
be one of the longer blocks in the page. So to not get confused by the
same "closing blocks" we can name them with the same name we used for
the "opening block".

Examples:
"endblock header",
"endblock main"
etc.

TODO -->










<!-- [STEP 4] ====================================================== [4]
* BASIC LAYOUT OF THE ALL OTHER JINJA BLOCKS, WHAT THEY DO
* AND THING TO BE AWARE OF WHEN SETTING THINGS UP!
-->










<!-- ! [VERY IMPORTANT] (TITLE) ==================================== [4][!!!!!]

* The "title" block in the template page is defined as "required".
* Meaning you MUST set up a page title!

! -->

{# [REQUIRED] Sets the page title ----------------------------------- #}
{% block title -%}
  Example page title
{%- endblock %}





<!-- ! [VERY IMPORTANT] (BODY) ===================================== [4][!!!!!][MUST READ]

The body is encased in a "body" block.
In it is ALL of the content of the template page!

DO NOT CALL THIS BLOCK EMPTY UNLESS YOU WANT TO COMPLETELY OVERWRITE ALL
OF THE CONTENT IN IT (<header>, <main>, <footer>)

! THIS WILL ALSO REMOVE ALL OF THE SCRIPTS AS THEY ARE AT THE BOTTOM
! OF THE BODY TAG

! -->

{# Write your body html here ---------------------------------------- #}
{%- block body %}
{% endblock %}





<!-- * [IMPORTANT] (ATTRIBUTE BLOCKS) ============================== [4][!]

The "attribute" blocks are use to only add atributes to the tag without
needing to rewrite all of it if you only need to change the atrributes?

! ADD ONE SPACE " " BEFORE THE 1ST ATTRIBUTE
! WRITE THE ATTRIBUTES ON THE SAME LINE AS THE "OPENING BLOCK"
! YOU CAN WRAP THE "CLOSING BLOCK" BUT NEED TO ADD "-" AT THE START

* -->

{# Write your attributes here --------------------------------------- #}
{% block header_attr %} class="example"{% endblock %}

{# Write your attributes here --------------------------------------- #}
{%- block footer_attr %} id="example"{% endblock %}

{# Example on how to wrap if the line gets too long ----------------- #}
{% block header_attr %} class="example-one example-two" id="test"
{%- endblock %}





<!-- * [IMPORTANT] (BODY EXTRA) ==================================== [4][!]

The "body_extra" block is for building on top of the existing content,
so DON'T include the <body> tag

!This extra content tag is placed UNDER the footer and ABOVE the scripts

* -->

{# Write your ADITIONAL body html here ------------------------------ #}
{%- block body_extra %}
{% filter indent(width=4) %}
  <p>
    Extra body content
  </p>
{%- endfilter %}
{% endblock %}





<!-- * [IMPORTANT] (NAV EXTRA BUTTONS) ============================= [4][!]

If you decide to KEEP the navigation bar you musn't forget to set up the
button, as it will only have a HOME ("return to index") button and the
always present ABOUT and GITHUB buttons!

* [RECOMMENDED] --------------------------------------------------------
 - No more than 2 buttons with not so many characters as it will cause
overflow!

(Of course you can add as many as you like, but you will have
to adjust the the CSS of the navigation ("nav.css") so everything looks
nice and in place!)

! [VERY IMPORTANT] =====================================================
Alway add class="nav-most-right" to the last/most right button.

The Jinja filter is there to account for white spaces, write your html
between the filter block as in the example!

* -->

{# Sets the navigation buttons if needed ---------------------------- #}
{% block nav_extra_buttons %}
{%- filter indent(width=8) %}
  <li class="nav-item nav-home">
    <a href="#welcome-section">
      Home
    </a>
  </li>
  <li class="nav-item nav-projects nav-most-right">
    <a href="#projects">
      Projects
    </a>
  </li>
{%- endfilter %}
{%- endblock %}





<!-- * [IMPORTANT] (HEADER) ======================================== [4][!]

! [VERY IMPORTANT] =====================================================
This is the block for the main header in the <body> tag!

The default navigation is in this block, so if you don't have it.
disabled don't use this block as it will overwrite the original content
in it.

If you want to keep the default navigation use the "header_extra" block.
? (More info on that below)

! [VERY IMPORTANT] =====================================================
In the template page this block is completely EMPTY!
It's only in the correct place, meaning you MUST add the <header> tags

* -->

{# Write your header html here -------------------------------------- #}
{% block header %}
  <header>
    Example header content
  </header>
{% endblock header %}





<!-- * [IMPORTANT] (HEADER EXTRA) ================================== [4][!]

The "header_extra" block is for building on top of the existing content,
so DON'T include the <header> tag

* -->

{# Write your ADITIONAL header html here ---------------------------- #}
{% block header_extra %}
{% filter indent(width=4) %}
  <p>
    Extra header content
  </p>
{%- endfilter %}
{%- endblock %}





<!-- * [IMPORTANT] (MAIN) ========================================== [4][!]

In the template page this block is completely EMPTY!
It's only in the correct place, meaning you MUST add the <main> tags

* -->

{# Write your main html here ---------------------------------------- #}
{% block main %}
 <main>
  <section>
    <p>
      Example 1
    </p>
  </section>

  <section>
    <p>
      Example 2
    </p>
  </section>
 </main>
{%- endblock main %}





<!-- * [IMPORTANT] (FOOTER) ======================================== [4][!]

The footer is encased in a "footer" block, so if you want to REMOVE it
you can just call the block EMPTY like in the example.

! [VERY IMPORTANT] =====================================================
Or if you want a completely different footer for the specific page you
can make one! And if you do don't forget your <footer> tag just like as
the "header" and the "main" blocks above need their tags!

* -->

{# Write your footer html here -------------------------------------- #}
{%- block footer %}
{% endblock %}





<!-- * [IMPORTANT] (FOOTER TITLE) ================================== [4][!]

! By default the footer title is the SAME as the page title defined in
! the "title" block at the top of [STAGE 4] section.

You can of course change it to anything you want!
* If you decide to change it ONLY write in plain text with no tags
* The "footer_title" block is encased in <p> tags in the template page

* -->

{# Write your footer title here ------------------------------------- #}
{% block footer_title -%}
  {{ self.title() }}
{%- endblock %}





<!-- * [IMPORTANT] (FOOTER EXTRA) ================================== [4][!]

The "footer_extra" block is for building on top of the existing content,
so DON'T include the <footer> tag

* -->

{# Write your ADITIONAL footer html here ---------------------------- #}
{% block footer_extra %}
{% filter indent(width=4) %}
  <p>
    Extra footer content
  </p>
{%- endfilter %}
{%- endblock %}
