{% extends "pages/base/base-main.html" %}

{% block title %}
  About Page
{% endblock %}

<!-- Navbar highlight -->
{% block nav_active %}
  class="active"
{% endblock %}

{% block main %}
  <main>
    <section id="welcome-section" class="welcome-section">
      <h1 class="welcome-section-header">
        About us
      </h1>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
    </section>

    <section id="projects" class="project-section">
    </section>
  </main>
{% endblock %}

{% block footer_title %}
  {{ self.title() }}
{% endblock %}
