{% extends "pages/base/base.html" %}

{% block title %}
About Page
{% endblock %}

<!-- Nav bar highlight -->
{% block ABOUT %}
class="active"
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
{% endblock %}

{% block navListSubBut %}
<li class="return-to-index">
  <a href="{{ url_for('index') }}">&#x21e6; Return</a>
</li>
{% endblock %}

{% block body %}
<section id="welcome-section" class="welcome-section">
  <h1 class="main-body-h1">About us</h1>
  <p>FUCK YOU</p>
</section>
{% endblock %}

{% block footer %}
About Page
{% endblock %}
