{% extends "pages/base/main-base.html" %}

{% block title %}
About Page
{% endblock %}

<!-- Nav bar highlight -->
{% block ABOUT %}
class="active"
{% endblock %}

{% block nav_extra_buttons %}
{% include "pages/base/nav-home-btn-base.html" %}
{% endblock %}

{% block main %}
  <section id="welcome-section" class="welcome-section">
    <h1 class="welcome-section-header">About us</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </section>

  <section id="projects" class="project-section">
  </section>
{% endblock %}

{% block footer %}
<h1>About Page</h1>
{% endblock %}
