{% extends "pages/base/base.html" %}
{% block title %}Product Landing Page{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
{% endblock %}

{% block navListSubBut %}
<li class="return-to-index">
    <a href="{{ url_for('index') }}">Return</a>
</li>
{% endblock %}

{% block body %}
<section id="welcome-section" class="welcome-section">
    <h1 class="main-body-h1">Product Landing Page</h1>
    <p>FUCK YOU</p>
</section>
{% endblock %}

{% block footer %}
Product Landing Page
{% endblock %}
