{% extends "pages/base/main-base.html" %}

{% block title %}
Product Landing Page
{% endblock %}

{% block nav_extra_buttons %}
{% include "pages/base/nav-home-btn-base.html" %}
{% endblock %}

{% block body %}
  <section id="welcome-section" class="welcome-section">
    <h1 class="welcome-section-header">Product Landing Page</h1>
    <p>FUCK YOU</p>
  </section>

  <section id="projects" class="project-section">
  </section>
{% endblock %}

{% block footer %}
Product Landing Page
{% endblock %}
