{% extends "pages/base/base-main.html" %}

{% block stylesheets_extra %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/survey_form.css') }}"/>
{% endblock %}

{% block title %}
  Survey Form
{% endblock %}

<!-- Temporarily remove the navbar -->
{% block navbar %}{% endblock %}

{% block nav_extra_buttons %}
  {% include "pages/base/base-nav-home-btn.html" %}
{% endblock %}

{% block main_extra %}
  <section id="welcome-section" class="welcome-section">
    <h1 class="welcome-section-header">
      Survey Form
    </h1>
    <p>
      Lorem ipsum dolor sit amet.
    </p>
  </section>

{% block main %}
  <main></main>
{% endblock %}

{% block footer_title %}
  {{ self.title() }}
{% endblock %}
