{% extends "pages/base/main-base.html" %}

{% block title %}
Survey Form
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
{% endblock %}

{% block nav_extra_buttons %}
{% include "pages/base/nav-return-btn-base.html" %}
{% endblock %}

{% block body %}
  <section id="welcome-section" class="welcome-section">
    <h1 class="welcome-section-header">Survey Form</h1>
    <p>FUCK YOU</p>
  </section>

  <section id="projects" class="project-section">
  </section>
{% endblock %}

{% block footer %}
Survey Form
{% endblock %}
