{% extends "pages/base/base-main.html" %}

{% block title %}
Technical Documentation Page
{% endblock %}

{% block nav_extra_buttons %}
{% include "pages/base/base-nav-home-btn.html" %}
{% endblock %}

{% block main %}
  <section id="welcome-section" class="welcome-section">
    <h1 class="welcome-section-header">Technical Documentation Page</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </section>

  <section id="projects" class="project-section">
  </section>
{% endblock %}

{% block footer %}
<h1>Technical Documentation Page</h1>
{% endblock %}
