{% extends "pages/base/base-main.html" %}

{% block stylesheets_extra %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/tribute_page.css') }}"/>
{% endblock %}

{% block title %}
  Tribute Page
{% endblock %}

<!-- Temporarily remove the navbar -->
{% block navbar %}{% endblock %}

{% block nav_extra_buttons %}
  {% include "pages/base/base-nav-home-btn.html" %}
{% endblock %}

{% block main %}
  <main></main>
{% endblock %}

{% block footer_title %}
  {{ self.title() }}
{% endblock %}
