html {
    scroll-padding-top: calc(2 * var(--scroll-padding));
}
#nav-bar {
    display: flex;
    position: fixed;
    z-index: 98;
    top: var(--nav-hight);
    width: 100%;
    height: var(--nav-hight);
    align-items: center;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--clr-nav-light);
}
.nav-img {
    margin-right: auto;
}
.nav-element {
    list-style: none;
}
.nav-element a {
    display: inherit;
    align-items: center;
    outline-offset: 0;
    border-radius: 0.4rem;
}
.nav-element:not(.nav-logo) {
    padding-inline: 1rem;
}
.nav-element:not(.nav-logo) a {
    outline: none;
    padding: 0.2em 0.5em;
    font-size: 18px;
}
.nav-element:not(.nav-github) a {
    color: black;
}
.nav-element a:is(:hover, :focus-visible) {
    outline: 2px solid var(--clr-nav-accent);
}
.nav-element a:active {
    transition: 0.1s ease-out;
    box-shadow: inset 0 0 10px var(--clr-nav-accent);
}
.section {
    scroll-snap-align: start;
    height: 100vh;
    background-color: bisque;
    border-top: 2px solid green;
}
#one {
    display: grid;
    align-items: center;
    justify-content: center;
}
#two {
    display: grid;
    align-items: center;
    justify-content: center;
}
main {
    margin-top: calc(2 * var(--nav-hight));
}
