:root {
    --clr-primary: #2c2c2c;
    --clr-accent: #31CC39;
    --clr-accent-2: #CC465F;

    --nav-hight: 4.4rem;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
::selection {
    color: white;
    background-color: var(--clr-accent);
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: var(--nav-hight);
}
main {
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
}
.welcome-section {
    scroll-snap-align: start;
    padding: 20rem 2rem 10rem;
    min-height: 100vh;
    text-align: center;
    background: rgb(44,44,44);
    background: linear-gradient(0deg, rgba(44,44,44,1) 10%, rgba(84,84,84,1) 60%);

    /* background: rgb(255,72,72);
    background: linear-gradient(155deg, rgba(255,72,72,1) 0%, rgba(255,198,72,1) 50%, rgba(207,76,197,1) 100%); */
    /* background: rgb(255,191,0);
    background: linear-gradient(0deg, rgba(255,191,0,1) 0%, rgba(211,107,75,1) 40%, rgba(255,255,255,1) 100%); */
}
.welcome-section-header {
    margin-bottom: 2rem;
    font-size: min(6vw, 8rem);
    text-transform: uppercase;
    color: white;
}
.welcome-section p {
    font-size: min(3vw, 4rem);
}
.project-section {
    scroll-snap-align: start;
    padding: min(6rem, 6vw) 2rem 12rem;
    min-height: calc(100vh + 10rem);
    clip-path: polygon(100% 0, 100% 100%, 75% 99%, 50% 98%, 25% 99%, 0 100%, 0 0);
    background-color: var(--clr-accent-2);
}
footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    scroll-snap-align: end;
    padding: 2rem 5rem 1rem;
    min-height: 30vh;
    font-size: 10px;
    text-align: center;
}
footer h1 {
    padding-bottom: 5rem;
}
.fa {
    margin-top: auto;
    margin-inline: auto;
    width: fit-content;
    font-size: 3em;
    color: black;
}
.fa:is(:hover, :focus-visible) {
    color: var(--clr-accent);
}
.footer-year {
    font-size: 2em;
    padding-top: 1rem;
    border-top: 1px solid black;
}
/* For 500% zoom in */
@media screen and (max-width: 30rem) {
    footer {
        font-size: 4px;
    }
}
