/* [CUSTOM VARIABLES] =============================================== */
:root {
    --clr-accent: #31CC39;
    --clr-primary: #2c2c2c;
    --clr-secondary: #CC465F;
    --clr-100: #ffffffee;
    --clr-500: #444444;
    --clr-700: #242424;
    --clr-900: #000000d9;
    --clr-text: #ffffffee;

    --snap-type: var(--scroll-snap-type, none);
    --scroll-padding: var(--nav-hight, 0);
}

/* [MAIN CSS] ======================================================= */

/* [GLOBAL SETTINGS] ------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
}

/* [GLOBAL SETTINGS] Box sizing rules ------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* [GLOBAL SETTINGS] Make images easier to work with ---------------- */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* [GLOBAL SETTINGS] Custom scrollbar ------------------------------- */
html::-webkit-scrollbar {
    width: 2vw;
}

html::-webkit-scrollbar-track {
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    border-radius: 1vw;
    border: 0.4vw solid white;
    background-color: var(--clr-primary, #2c2c2c);
}

html::-webkit-scrollbar-thumb:hover {
    border: 0.2vw solid white;
}

/* [GLOBAL SETTINGS] Main Content ----------------------------------- */
html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: var(--snap-type);
    scroll-padding-top: var(--scroll-padding);
}

body {
    text-rendering: optimizeSpeed;
}

main {
    margin-bottom: min(5rem, 10vw);
    filter: drop-shadow(0 min(1em, 2vw) min(1em, 2vw) rgba(0, 0, 0, 0.4));
}

footer {
    scroll-snap-align: end;
    display: flex;
    flex-direction: column;
    gap: min(1em, 1vw);
    padding-inline: min(4em, 4vw);
    min-height: 30vh;
    font-size: 1rem;
    text-align: center;
    color: black;
}

.footer-title {
    margin-bottom: auto;
    padding-bottom: min(4em, 4vw);
    font-size: min(3em, 4vw);
    font-weight: bold;
    color: inherit;
}

.fa {
    margin-inline: auto;
    width: fit-content;
    font-size: min(3em, 4vw);
    color: inherit;
}

.fa:is(:hover, :focus-visible) {
    color: var(--clr-accent);
}

.footer-year {
    font-weight: unset;
    font-size: min(2em, 3vw);
    padding-block: min(0.5em, 2vw);
    border-top: 0.05em solid lightgray;
    color: inherit;
}

/* [MEDIA QUERIES] ================================================== */
@media screen and (min-height: 58em), (min-width: 115em) {

    /* Adjust custom scrollbar -------------------------------------- */
    html::-webkit-scrollbar {
        width: 1vw;
    }

    html::-webkit-scrollbar-thumb {
        border: 0.2vw solid white;
    }

    html::-webkit-scrollbar-thumb:hover {
        border: 0.1vw solid white;
    }
}

@media screen and (max-width: 30em) {

    /* For high zoom in levels -------------------------------------- */
    footer {
        margin-left: var(--nav-poking, 0);
    }
}
