:root{
    /* MAIN COLORS */
    --main-clr: burlywood;
    --nav-text-clr: white;
    --nav-hover-clr: hsla(33, 100%, 88%, 0.555);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
/* ================================================================= */
.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    padding: 0px 10px;
    line-height: 45px;
    display: inline-block;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--main-clr);
}
.logo a{
    color: var(--nav-text-clr);
    margin-left: 3rem;
    padding: 0px 8px;
    float: left;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.logo a:hover{
    transition: .5s;
    background-color: var(--nav-hover-clr);
}
.nav-list{
    float: right;
}
.nav-list li{
    display: inline-block;
    list-style: none;
}
.nav-list li .active{
    color: rgba(0, 0, 0, 0.850);
}
.nav-list a{
    transition: 0.3s;
    color: var(--nav-text-clr);
    padding: 4px 12px;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
}
.nav-list a:hover{
    transition: .5s;
    background-color: var(--nav-hover-clr);
}
.nav-projects + li:before{
    color: var(--nav-text-clr);
    content: ' | ';
    position: relative;
    top: -2px;
}
.return-to-index + li:before{
    color: var(--nav-text-clr);
    content: ' | ';
    position: relative;
    top: -2px;
}
@media (max-width: 42rem){
    .nav-list a{
        transition: 0.3s;
        padding: 4px 6px;
        font-size: 14px;
    }
}
/* ================================================================= */
.welcome-section{
    padding: 12rem 2rem;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color: rgb(255, 220, 178);
}
.main-body-h1{
    transition: 0.3s;
    color:cornsilk;
    margin-inline: auto;
    font-size: clamp(3rem, 4vw + 1rem, 6rem);
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.850);
    -webkit-text-stroke-width: clamp(1.4px, 0.1vw, 2.4px);
}
.welcome-section p{
    font-size: clamp(1rem, 1vw + 5px, 2vw);
}
/* ================================================================= */
.projects-section-header{
    font-size: clamp(1.5rem, 2vw + 5px, 3vw);
    text-align: center;
    text-decoration: underline;
}
.projects-section{
    padding: 6rem 2rem;
    height: 100vh;
    scroll-snap-align: start;
    background-color: rgba(255, 235, 205, 0.800);
}
.project-grid{
    margin: 0 auto;
    margin-top: 6vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(clamp( 200px, 40vw, 550px), 28vw));
    grid-gap: clamp(2rem, 2vw, 4rem);
    text-align: center;
    justify-content: center;
}
.project-title{
    color: white;
    padding: 4px;
    font-size: clamp(1.5rem, 1.5vw + 5px, 2rem);
    letter-spacing: 1px;
    background-color: var(--main-clr);
}
.project-tile{
    aspect-ratio: 16/9;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.project-tile:hover{
    transition: 0.2s;
    box-shadow: 0px 5px 15px firebrick;
}
@media (max-width: 60rem){
    .projects-section{
        height: auto;
    }
    .project-grid{
        grid-template-columns: repeat(1, minmax(clamp( 400px, 50vw, 550px), 28vw));
    }
}
/* TODO improve functionality */
@media (max-width: 1919px){
    .projects-section{
        height: auto;
    }
}
@media (min-width: 1921px){
    .projects-section{
        height: auto;
    }
}
/* ================================================================= */
.footer{
    color: aliceblue;
    padding-top: 2rem;
    height: 30vh;
    font-size: clamp(1rem, 2vw + 5px, 1.5rem);
    text-align: center;
    scroll-snap-align: end;
    background-color: #000000d0;
}
