:root {
    /* colors */
    --clr-lightgray: #e4e4e4;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
}

#main {
    background-color: var(--clr-lightgray);
    border-radius: 10px;
    margin: 3rem 1rem;
    padding: 1.5rem;
}
