{% extends "pages/base/base-main.html" %}
{% set skip_nav_href = '#projects' %}

{% block stylesheets_extra %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block title %}
  Home Page
{% endblock %}

{% block page_description %}
  <meta name="description"
        content="Responsive Web Design with Python (RWDP)">
{% endblock %}

{% block main_extra %}
  <section id="welcome-section" class="welcome-section">
    <h1 class="welcome-section-header">
      Welcome
    </h1>
    <p>
      Lorem ipsum dolor sit amet.
    </p>
  </section>

  <section id="projects" class="project-section">
    <h2 class="project-section-header">
      Here are some of my projects
    </h2>

    <div class="project-grid">
      <a class="project-tile" target="_self"
      href="{{ url_for('survey_form') }}">
        <img loading="lazy" class="project-image"
        alt=""
        src=""/>
        <p class="project-title">
          Survey Form
        </p>
      </a>
      <a class="project-tile" target="_parent"
      href="{{ url_for('tribute_page') }}">
        <img loading="lazy" class="project-image"
        alt=""
        src=""/>
        <p class="project-title">
          Tribute Page
        </p>
      </a>
      <a class="project-tile" target="_self"
      href="{{ url_for('product_landing_page') }}">
        <img loading="lazy" class="project-image"
        alt=""
        src=""/>
        <p class="project-title">
          Product Landing Page
        </p>
      </a>
      <a class="project-tile" target="_self"
      href="{{ url_for('technical_documentation_page') }}">
        <img loading="lazy" class="project-image"
        alt=""
        src=""/>
        <p class="project-title">
          Technical Documentation Page
        </p>
      </a>
    </div>
  </section>
{% endblock %}

{% block footer_title %}
  {{ self.title() }}
{% endblock %}
